html
  head
    title= title
    style 
      include style1.css
      include style2.css
      include ./assets/css/bootstrap.min.css 
      include ./assets/css/custom.css
    
    script 
      include ./assets/js/jquery.min.js
      include ./assets/js/popper.min.js
      include ./assets/js/tooltip.min.js
      include ./assets/js/bootstrap.min.js
      include ./assets/js/custom.js
      include ../script.js

  body 
    h1= message