html 
    head 
        title= title 
        style 
            include style1.css
            include style2.css
            include ./assets/css/bootstrap.min.css 
            include ./assets/css/custom.css
    
        script 
            include ./assets/js/jquery.min.js
            include ./assets/js/popper.min.js
            include ./assets/js/tooltip.min.js
            include ./assets/js/bootstrap.min.js
            include ./assets/js/custom.js
            include ../script.js

    body
        div(class="div-center")
            form(action='/signupform', method='POST')
                h4 Signup
                label Please fill the Form to Signup
                    //if error
                    //    h3= error
                div(class="form-group")
                    label(for="username") Enter UserName
                    input(type="text" placeholder="Enter Username" class="form-control" name="username" required)
                    
                div(class="form-group")
                    label(for="firstname") Enter FirstName
                    input(type="text" placeholder="Enter Firstname" class="form-control" name="firstname" required)
                div(class="form-group")
                    label(for="lastname") Enter LastName
                    input(type="text" placeholder="Enter Lastname" class="form-control" name="lastname" required)
                div(class="form-group")
                    label(for="email") Enter Email
                    input(type="text" placeholder="Enter Email" class="form-control" name="email" required)
                div(class="form-group")
                    label(for="password") Enter Password
                    input(type="password" placeholder="Enter Password" class="form-control" name="password" required)
                div(class="form-group")
                    label(for="confirmpassword") Re-enter Password
                    input(type="password" placeholder="Enter Password" class="form-control" name="confirmpassword" required)
                button(type="submit" class="btn btn-default btn-primary") Login 